<%- include('header'); -%>
  <div class="content">
    <h1>Contact Us</h1>
    <div id="contacts">
        <h2>Director</h2>
        <p>Sam Lones</p>
        <p>08751865665</p>
        <p>s.lones@hwu.ac.uk</p>
        <p>10 Rings</p>
      
        <br><br>

        <h2>Co-Director</h2>
        <p>Braeden Normal</p>
        <p>01769576347</p>
        <p>braedenn@hw.ac.uk</p>
        <p>6/4 Zoo Lane</p>
     
        <br>
        <br>

        <h2>Cow</h2>
        <p>Mikael Moo</p>
        <p>01894657438</p>
        <p>qeurhgoqvbe@hw.ac.uk</p>
        <p>12 Farm Ville</p>
    </div>
  </div>
<%- include('footer'); -%>